name: Update README

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  markscribe:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: muesli/readme-scribe@master
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
        with:
          template: "templates/README.md.tpl"
          writeTo: "README.md"

      - uses: stefanzweifel/git-auto-commit-action@v5
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          commit_message: "chore: sync readme"
          commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"
          branch: main